
ul.info {
  margin-left: 1em;
}

.slide-container {
  
}

.slide-container h5 {
  margin-bottom: 1px;
}

.slide-container p.info {
  margin-left: 1em;
}

.footer {
  margin: 1em;
}

.footer .link a{
  margin-right: 1em;
}

.footer p.copywrite {
  text-align: center;
}